.dashboard {
    background-color: white;
    min-height: 100vh;
    color: black;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
}

.logout  {
    padding: 8px 14px;
    background-color: #74c6c7;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1em;
}

.logout-btn:hover {
    background-color: #74c6c7;
}